doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title Tugas TKPPL

    // build:css styles/styles.css
    //- Check out 'src/bower_components/prism/themes/' for available themes
    link(rel='stylesheet', type='text/css', href='bower_components/prism/themes/prism-tomorrow.css')
    link(rel='stylesheet', type='text/css', href='styles/main.css')
    // endbuild

  body

    article

      section
        h1 Konsol Video Games
        ul
        li By: Wisely Jansen Hadi
        li     Albet Einstein
        li     Rudy

      section
        h2 Sejarah dari Video Games
        h6 Asal usul permainan video/video game terletak pada awal tabung sinar katoda berbasis pertahanan peluru kendali sistem pada akhir 1940-an. Program-program ini kemudian diadaptasi ke dalam permainan sederhana lainnya di era tahun 1950-an.  Pada akhir 1950-an dan melalui tahun 1960-an, lebih banyak permainan komputer yang dikembangkan (kebanyakan di komputer mainframe), secara bertahap tingkat kecanggihan dan kompleksitasnya pu turut bertambah. Setelah periode ini, video game menyimpang ke berbagai platform: arcade, mainframe, konsol, pribadi komputer dan kemudian permainan genggam. Perusahaan komersial pertama konsol permainan video adalah Computer Space pada 1971, yang meletakkan dasar bagi industri hiburan baru di akhir 1970-an di Amerika Serikat, Jepang, dan Eropa. tapi ini perusahaan tidak bertahan lama ini sebagian besar disebabkan oleh banjir dari video game yang datang ke pasar mengakibatkan keruntuhan total industri game konsol di seluruh dunia, akhirnya menggeser dominasi pasar dari Amerika Utara ke Jepang. Tapi inihanya mempengaruhi pasar game konsol, pasar game komputer sebagian besar tidak terpengaruh.  Generasi selanjutnya dari konsol video game akan terus didominasi oleh perusahaan-perusahaan Jepang.  Walaupun beberapa upaya akan dilakukan oleh Amerika Utara dan perusahaan-perusahaan Eropa, generasi keempat konsol, usaha mereka pada akhirnya akan gagal. . Tidak sampai generasi keenam konsol permainan video akan non-perusahaan Jepang merilis sebuah sistem konsol sukses secara komersial. Pasar telah mengikuti jalan yang sama dengan beberapa kali gagal dilakukan oleh perusahaan-perusahaan Amerika yang semuanya gagal di luar beberapa keberhasilan terbatas dalam permainan elektronik genggam sejak dini.  Saat ini hanya perusahaan-perusahaan Jepang memiliki sukses besar konsol game handheld, walaupun dalam beberapa tahun terakhir permainan genggam telah datang ke perangkat seperti ponsel dan PDA .

      section
        h2 Generasi Konsol Pertama (1971-1977)
        h4 Contoh Generasi Konsol Pertama adalah :
        ul 
        li <a href="http://en.wikipedia.org/wiki/File:Magnavox-Odyssey-Console-Set.png">Magnavox Odyssey</a>
        li <a href="http://en.wikipedia.org/wiki/File:TeleGames-Atari-Pong.png">Atari/Sears Tele-Games Pong</a> 
        li <a href="http://en.wikipedia.org/wiki/File:Binatone_TV_Master_Mk_IV.jpg">Binatone</a>
        li <a href="http://en.wikipedia.org/wiki/File:Coleco-Telstar-Colortron.jpg">Coleco Telstar</a>
        li <a href="http://en.wikipedia.org/wiki/File:Nintendo-TV-Game-BK6.png">Nintendo Color TV Game</a> 

      section
        h2 Generasi Konsol Kedua (1976-1992)
        h4 Contoh Generasi Konsol Kedua adalah :
        ul 
        li <a href="http://en.wikipedia.org/wiki/File:Fairchild-Channel-F-System-II-Console.jpg">Fairchild Channel F</a>
        li <a href="http://en.wikipedia.org/wiki/File:Atari-2600-Console.jpg">Atari 2600</a> 
        li <a href="http://en.wikipedia.org/wiki/File:Magnavox-Odyssey-2-Console-Set.jpg">Magnavox Odyssey</a>
        li <a href="http://en.wikipedia.org/wiki/File:Intellivision-Console-Set.jpg">Intellivision</a>
        li <a href="http://en.wikipedia.org/wiki/File:Atari-5200-Console-Set.jpg">Atari 5200</a>

      section
        h2 Generasi Konsol Ketiga (1983–2003)
        h4 Contoh Generasi Konsol Ketiga adalah :
        ul
        li <a href="http://en.wikipedia.org/wiki/File:Sega-SG-1000-Console-Set.jpg">SG 1000</a>
        li <a href="http://en.wikipedia.org/wiki/File:NES-Console-Set.jpg">Nintendo Entertainment System</a>
        li <a href="http://en.wikipedia.org/wiki/File:Sega-Master-System-Set.jpg">Sega Mark III/Master System</a>
        li <a href="http://en.wikipedia.org/wiki/File:Atari-7800-Console-Set.jpg">Atari 7800</a>

      section
        h2 Generasi - Generasi Konsol Video Games dari awal sampai Akhir
      section
        Generasi pertama konsol permainan video berlangsung dari tahun 1972, dengan rilis dari Magnavox Odyssey, hingga 1977, ketika “pong”-style produsen konsol meninggalkan pasar secara massal karena pengenalan dan keberhasilan mikroprosesor berbasis konsol
      section
        Dalam sejarah komputer dan video game, generasi kedua (biasa disebut sebagai awal era 8 bit atau kurang lebih  4 bit era) dimulai pada tahun 1976 dengan merilis Fairchild Channel F dan Radofin 1292 Advanced Programmable Video sistem. Di era generasi kedua ini yang menjadi primadona konsol game adalah konsol game ATARI.
      section
        Generasi ketiga dimulai pada tahun 1983 dengan dipasarkannya Jepang Family Computer tau lebih dikenal dengan nama FAMICOM(Nintendo Entertainment System. Walaupun konsol generasi sebelumnya juga menggunakan 8-bit processor, pada akhir generasi inilah konsol rumah yang pertama kali diberi label oleh mereka “bit”. Ini juga masuk ke mode sebagai sistem 16-bit seperti Mega Drive / Genesis dipasarkan untuk membedakan antara generasi konsol. Di Amerika Serikat, generasi ini di game ini terutama didominasi oleh NES / Famicom. Di era ini pulalah terjadi perang konsol game yang pertama antara perusahaan konsol Nintendo dengan SEGA.
      section
        Generasi keempat atau biasa disebut dengan era 16 bit,pada generasi ini NES mendapat sambutan hangat di seluruh dunia, dan sebuah perusahaan bernama Sega mencoba menyaingi Nintendo. Pada tahun 1988, Sega merilis konsol next-generation mereka, Sega Mega Drive. Konsol ini menyajikan gambar yang lebih tajam dan animasi yang lebih halus dibanding NES. Konsol ini cukup berhasil memberi tekanan, tetapi NES tetap bertahan dengan angka penjualan tinggi. Dua tahun berselang, pada 1990, Nintendo kembali menggebrak dengan konsol next-gen mereka, SNES. Selama 4 tahun, Nintendo dan Sega menjadi bebuyutan, meskipun ada beberapa produsen seperti SNK dengan NeoGeo-nya, NEC dengan TurboGrafx-16 dan Phillips CD-i, tapi kedua konsol mereka begitu handal dan populer.
      section
        Generasi kelima atau disebut juga dengan era konsol 32 bit. dimana konsol game yang paling populer pada generasi ini adalah Sony Playstation
      section
        Generasi keenam ini ditandai dengan munculnya konsol-konsol game next generation dari masing-masing perusahaan seperti SONY, SEGA,Nintendo serta munculnya satu lagi konsol game baru yang diluncurkan oleh Microsoft yang diberi nama Xbox. Perang konsol game ini akhirnya mengakibatkan jatuhnya perusahaan konsol SEGA yang tidak dapat lagi meneruskan konsol next generation(Dreamcast) mereka dan lebih memilih untuk berkonsentrasi dibidang pembuatan game konsol.
      section
        Dikarenakan semakin canggihnya teknologi di bidang teknologi maka kemudian 3 perusahaan konsol terbesar(Sony, Nintendo, dan Microsoft) mengeluarkan kembali konsol next-generation mereka keluaran terbaru. Sony mengeluarkan konsol next-gen yang diberi nama PS3(Playstation 3), lalu Nintendo dengan Nintendo Wii kemudian Microsoft dengan Xbox 360. Pada generasi ini semakin dikembangkan sistem permainan online atau permainan yang melibatkan banyak pemain yang terhubung dengan konsol mereka dan semakin ditinggalkannya permainan single player.
      section
        h2 Syntax Highlighting
        h3 Powered by <a href="http://twitter.com/LeaVerou">Lea Verou</a>'s <a href="https://github.com/LeaVerou/prism">Prism</a>
        hr
        pre
          code.language-javascript.
            bespoke.from('article', {
              keys: true,
              touch: true,
              hash: true,
              state: true,
              bullets: 'li, .bullet'
            });

      section(data-bespoke-hash='named-route')
        h2 Named Route
        h3 Powered by <a href="https://github.com/markdalgleish/bespoke-hash">bespoke-hash</a>
        p Look up! This route has been named with a <em>'data-bespoke-hash'</em> attribute.

      section(data-bespoke-state='emphatic')
        h2 Emphatic Slide!
        h3 Powered by <a href="https://github.com/markdalgleish/bespoke-state">bespoke-state</a>

      section
        h2.bullet Just the beginning...
        hr
        ul
          li Edit <a href="http://jade-lang.com/">Jade</a> markup in <em>'src/index.jade'</em>
          li Edit <a href="http://learnboost.github.io/stylus/">Stylus</a> styles in <em>'src/styles/main.styl'</em>
          li Edit JavaScript in <em>'src/scripts/main.js'</em>
        hr
        ul
          li
            strong Enjoy! :)
            a(href='http://twitter.com/markdalgleish')  -@markdalgleish

    // build:js scripts/scripts.js
    script(src='bower_components/bespoke.js/dist/bespoke.min.js')
    script(src='bower_components/bespoke-keys/dist/bespoke-keys.min.js')
    script(src='bower_components/bespoke-touch/dist/bespoke-touch.min.js')
    script(src='bower_components/bespoke-bullets/dist/bespoke-bullets.min.js')
    script(src='bower_components/bespoke-scale/dist/bespoke-scale.min.js')
    script(src='bower_components/bespoke-hash/dist/bespoke-hash.min.js')
    script(src='bower_components/bespoke-progress/dist/bespoke-progress.min.js')
    script(src='bower_components/bespoke-state/dist/bespoke-state.min.js')
    script(src='bower_components/bespoke-forms/dist/bespoke-forms.min.js')
    script(src='bower_components/prism/prism.js')
    script(src='scripts/main.js')
    // endbuild